<li class="{{#if is_zero}}zero-dm-unreads{{/if}} dm-list-item bottom_left_row" data-user-ids-string="{{user_ids_string}}" {{#if user_id}}data-user-id="{{user_id}}"{{/if}}>
{{#if is_bot}}
{{else}}
    <div class="dm-box dm-user-status" data-user-ids-string="{{user_ids_string}}" data-is-group="{{is_group}}">

        {{#if is_group}}
        <span class="conversation-partners-icon zulip-icon zulip-icon-triple-users"></span>
        {{else if is_bot}}
        <span class="conversation-partners-icon zulip-icon zulip-icon-bot" aria-hidden="true"></span>
        {{else}}
        <span class="conversation-partners-icon zulip-icon zulip-icon-{{user_circle_class}} {{user_circle_class}} user-circle"></span>
        {{/if}}

        <a href="{{url}}" class="conversation-partners">
            <span class="conversation-partners-list">{{recipients}}</span>
            {{> status_emoji status_emoji_info}}
        </a>
        <span class="unread_count {{#if is_zero}}zero_count{{/if}}">
            {{unread}}
        </span>

        {{!-- <span class="sidebar-menu-icon dm-sidebar-menu-icon">
            <i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i>
        </span> --}}

        <span class="sidebar-menu-icon user-list-sidebar-menu-icon"><i class="zulip-icon zulip-icon-more-vertical" aria-hidden="true"></i></span>
    </div>
    {{/if}}
</li>
